@{
    ViewData["Title"] = @Resources.CatalogTitle;
}

<div class="text-center">
    <h1 class="display-4">@Resources.WelcomeMessage</h1>
    <p align="left"><a href="~/Product">@Resources.NavigateToProductsList</a>.</p>
    <p align="left"><a href="~/Catalog">@Resources.NavigateToCatalogList</a>.</p>
    <p align="left"><a href="~/ProductCategory">@Resources.NavigateToCategoriesList</a>.</p>
</div>